.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: changeBackground 3s infinite alternate linear;
  }
  
  @keyframes changeBackground {
    0% {
      background: linear-gradient(to right, #88abde, #c780e8);
    }
    50% {
      background: linear-gradient(to right, #331641, #1e61c5);
    }
    100% {
      background: linear-gradient(to right, #3769b5, #6a3484);
    }
  }
  
  
  .login-box {
    background: linear-gradient(to right, #38675b, #424040);
    padding: 30px;
    /* background-color: white; */
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    width: 400px;
  }
  
  .login-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-header h1 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .login-header p {
    color: #888;
  }
  
  .login-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .login-footer button {
    padding: 8px 16px;
  }
  
  .login-footer a {
    color: #888;
  }